.HomePage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    // text-align: center;  
    align-items: center;
    height: 100VH;

    .header{

    }
    .subDesc{

    }
    .Info{

    }
}