* {
  list-style: none;
  text-decoration: none;
  color: black;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
nav {
  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
  }
}
